<div class="container">
  <div class="informacao">
      <h2><span>Transforme</span> Seu Mundo <span>Profissional</span> com Nossos Benefícios <span>Exclusivo</span></h2>
      <p>Imagine um plano que não só reduz suas despesas, mas também gera receita para sua empresa. Um plano que proporciona qualidade de vida aos colaboradores, mantém a moral elevada e os mantém motivados. Mais de 10.000 vidas já estão aproveitando esses benefícios exclusivos, e queremos que você também faça parte desse sucesso.</p>
      <button><strong>Conheça nosso plano</strong></button>
  </div>
  <div class="imagem">
    <img src="/assets/img/mulheres-de-negocios.png" alt="" >
  </div>
</div>
