<div class="detail">
  <svg xmlns="http://www.w3.org/2000/svg" width="173" height="110" viewBox="0 0 173 110" fill="none">
    <path d="M8.33491 69.9018C-30.6651 69.9018 86.8694 0.094055 86.8694 0.094055C86.8694 0.094055 205.835 69.9021 163.835 69.9021C121.835 69.9021 105.585 109.601 86.8694 109.601C68.1539 109.601 47.3349 69.9019 8.33491 69.9018Z" fill="white"/>
  </svg>
</div>
<div id="sticky-footer">
    <div class="hover" style="background:linear-gradient(0deg,rgba(11,11,14,.9) 0,rgba(11,11,14,.8) 22%,rgba(7,6,10,.7) 58%,rgba(7,6,10,.65) 100%);left:0;top:0"></div>
      <div class="footer-logo">
        <a href="#"><img class="logo-footer-img" src="https://s3-alpha-sig.figma.com/img/c40e/1f42/db5c19778b19fc6dfe509c3e5b766522?Expires=1705881600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=k1aROiFECg3933l71GC6-AEz6L8DG~sAz7IFdmYhcueVlOO2aaaxmt~EVZQaFI8c1iqcP1HGW6veGkqnicIRNKp~AAHpwPMUuLyWr0Z~WMlWO4VxyvbMaRU9O6JoyS3yvdVDJIeuLkIKiR2TzA0Pu0OFY2oBMX8kYR2Ji3~41zxqcI7O6FUgAnnFFSGbGj8A~sx6NtJ~VT-Q29PseVnt9n1LiHnHOoDlYrvspf3ED8-ev1yyoC0ulE8jCDYPB0TQzpTM-B08u6DpuglxGBK8H2XNBkky7kxQthmDa-LDZU5kDIeokNpWaKwStC8rogRCyVk9Beuy9HsUzYo0UFMF1Q__" alt=""></a>
      </div>
    <div class="infos">
      <div class="contacts">
        <p class="title">Contatos:</p>
        <a href="#" class="info">WhatsApp: (98)99585-5585</a>
        <a href="#" class="info">E-mail: prevpax&#64;duvidas.com.br</a>
        <a href="#" class="info">Site: prevpax.com.br</a>
      </div>
      <div class="about">
        <p class="title">Sobre a PrevPax</p>
        <a href="#" class="info">Quem somos</a>
        <a href="#" class="info">Nossos Planos</a>
        <a href="#" class="info">Rede Credênciada</a>
        <a href="#" class="info">Politica de privacidade</a>
      </div>
      <div class="company">
        <p class="title">Seja um Credênciado</p>
        <a href="#" class="info">Faça parte da nossa rede. Mande um e-mail para: prevpax&#64;company.com.br</a>
      </div>
    </div>
    <p class="copyright">&copy; 2024 Prev-Pax. Todos os direitos reservados.</p>
</div>
