<div class="detail">
  <svg xmlns="http://www.w3.org/2000/svg" width="173" height="110" viewBox="0 0 173 110" fill="none">
    <path
      d="M8.33491 69.9018C-30.6651 69.9018 86.8694 0.094055 86.8694 0.094055C86.8694 0.094055 205.835 69.9021 163.835 69.9021C121.835 69.9021 105.585 109.601 86.8694 109.601C68.1539 109.601 47.3349 69.9019 8.33491 69.9018Z"
      fill="white" />
  </svg>
</div>
<div class="divulgacao">
  <div class="hover"
    style="background:linear-gradient(0deg,rgba(11,11,14,.9) 0,rgba(11,11,14,.8) 22%,rgba(7,6,10,.7) 58%,rgba(7,6,10,.65) 100%);left:0;top:0">
  </div>
  <div class="footer-logo">
    <h1>Explore os Melhores Benefícios Para os colaboradores da sua empresa</h1>
  </div>
  <div class="infos">
    <div class="auxilio">
      <div class="margem-elemento">
        <img src="/assets/img/cruz.svg" alt="vazio">
        <h2>Auxílio Funerário</h2>

        <p>Tranquilidade em momentos difíceis, sem custos adicionais</p>

      </div>

    </div>
    <div class="odonto">
      <div class="margem-elemento">
        <img src="/assets/img/dente.svg" alt="vazio">
        <h2>Odontológico</h2>
        <p>Sorrisos saudáveis, sem preocupações mensais. Cuide da saúde bucal de sua equipe.</p>





      </div>

    </div>
    <div class="seguro-vida">
      <div class="margem-elemento">
        <img src="/assets/img/hospital.svg" alt="vazio">
        <h2>Seguro de Vida</h2>
        <p>Proteção financeira sem comprometer seu orçamento. Garanta segurança sem despesas recorrentes.</p>

      </div>
    </div>
  </div>

</div>
<div class="detail-2">
  <img src="/assets/img/detalhe.svg" alt="" srcset="">

</div>
