
<header class="header-container">
  <div class="column">
    <div class="espacamento">
      <div>
        <h1 class="title-header">Nossa <span class="destaque">missão</span> é
          <span class="destaque">cuidar</span> de você
          e de quem você <span class="destaque">ama!</span>
        </h1>
      </div>

      <div class="subtitle-header">
        <p>A PrevPax trabalho com o melhor sistema de planos clínicos de saúde e bem estar para a sua empresa.</p>
      </div>

      <div class="div-button">
        <button class="button-prev">
          Conheça nosso plano
        </button>
      </div>

    </div>





  </div>
  <div class="column">


    <div class="imagem-container">
      <img src="/assets/img/retrato-de-familia-feliz-com-crianca-olhando-para-a-camera-isolada.png" alt="Imagem">
    </div>

    <div class="triangulo-container ">

    </div>





  </div>
</header>
