
<section class="section-imag">
  <div class="celula-cel">
      <div class="container">
          <div class="row">
              <div class="boder col-md-6"  >
                  <div class="column-image">
                      <img src={{image}} class="image" />
                  </div>
              </div> <!-- /.col -->

              <div class="boder-div col-md-6" >
                  <!-- Section Title -->
                  <div class="title">
                      <h2 class="">{{titulo}}</h2>
                  </div>
                  <div>
                      <p class="par">{{texto}}</p>
                  </div>
              </div> <!-- /.col -->
          </div> <!-- /.row -->
      </div>
  </div>
</section>

