<div class="center_planes">
  <div class="container">
      <div class="box">
        <h2>NOSSO PLANO</h2>
        <div class="description">
          <ul class="ul-l">
              <li>
                  <strong>PRODUTOS PARA BENEFICIÁRIOS</strong>: São Luís/MA
              </li>
              <li>
                  <strong>VALOR DO PLANO PER CAPTO POR TITULAR OU DEPENDENTE</strong>
                  <ul>
                      <li>
                          <strong>ENFERMARIA</strong>: R$ 170,67
                      </li>
                      <li>
                          <strong>APARTAMENTO</strong>: R$ R$ 230,40
                      </li>
                      <li>
                          <strong>TAXA ADM NA INCLUSÃO</strong>: R$ 15,75
                      </li>

                  </ul>

              </li>
              <li>
                  <strong>SEM COPARTICIPAÇÃO </strong>
              </li>
          </ul>
        </div>
        <a routerLink="/inscricao-plano"><button class="glow-on-hover" type="button">SAIBA MAIS</button>
        </a>


      </div>
      <div class="box">
        <h2>PLANO PLENO</h2>
        <div class="description">
          <ul>
              <li>
                  <strong>PRODUTOS PARA BENEFICIÁRIOS REDE INTERIOR</strong>: <p>Manaus/AM, Fortaleza/CE, Natal/RN,  Recife/PE, Salvador/BA, São Luís/MA, Teresina/PI, Belém/PA, Aracaju/SE, João Pessoa/ PB:</p>
              </li>
              <li>
                  <strong>VALOR DO PLANO PER CAPTO POR TITULAR OU DEPENDENTE </strong>
                  <ul>
                      <li>
                          <strong>ENFERMARIA</strong>: R$ 499,26
                      </li>
                      <li>
                          <strong>APARTAMENTO</strong>: R$ R$ 674,05
                      </li>
                      <li>
                          <strong>TAXA ADM NA INCLUSÃO</strong>: R$ 15,75
                      </li>

                  </ul>

              </li>
              <li>
                  <strong>SEM COPARTICIPAÇÃO </strong>
              </li>
          </ul></div>
        <button class="glow-on-hover" type="button">SAIBA MAIS</button>
      </div>


  </div>
</div>

<br><br>
